/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/
*.code-workspace

### DBPaste / SQLite Local ###
*.db
*.sqlite

### OS Files ###
.DS_Store
Thumbs.db